text {
    font-family: 'Segoe UI';
}

button {
    font-family: 'Segoe UI';
    transition: transform 0.2s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.Cash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.CashAmount {
    color: #FFAE00;
    font-size: 5rem;
    font-weight: 1000;
    -webkit-text-stroke: 2px black;
}

.ButtonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.CashButton {
    height: 15rem;
    width: 15rem;
    border-radius: 15rem 15rem 15rem 15rem;
    border-width: .8rem;
    border-style: solid;
    background-color: #FFAE00;
    box-shadow: 0px 5px 5px grey;
}

.Upgrades {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    gap: 6rem;
}

.Upgrade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.UpgradeDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.CurrentDetail {
    font-size: 2rem;
    font-weight: 700;
}

.NewDetail {
    color: #525252;
    font-size: 1rem;
    font-weight: 100;
}

.UpgradeButton {
    height: 5rem;
    width: 10rem;
    border-radius: 2rem 2rem 2rem 2rem;
    border-width: .4rem;
    border-style: solid;
    background-color: #00FF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Price {
    text-align: center; 
    font-size: 3rem;
    font-weight: normal;
}